<form
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
  class="flex flex--column flex--center gap-4 padding-4-0">
  <mat-card>
    <mat-card-content>
      <div class="flex flex--column">
        <c-ui-text-input
          formControlName="name"
          label="Cocktail name"
          placeholder="Enter cocktail name" />
        <c-ui-text-input
          formControlName="imageUrl"
          label="Image url"
          placeholder="Enter image url"
          type="href"/>
        <c-ui-textarea-input
          formControlName="description"
          label="Cocktail description"
          placeholder="Enter cocktail description"
          [minRows]="5"/>
        <c-ui-select
          formControlName="category"
          label="Category"
          [options]="categoryOptions"/>
        <c-ui-select
          formControlName="difficulty"
          label="Difficulty"
          [options]="difficultyOptions"/>
      </div>
    </mat-card-content>
  </mat-card>
  <c-button translation="next" type="submit"></c-button>
</form>
