<button
  *ngIf="design === 'primary'; else secondaryButton"
  mat-flat-button
  [color]="color"
  (click)="handleClick()"
  [disabled]="disabled"
  [type]="type"
><ng-container *ngTemplateOutlet="content"></ng-container></button>

<ng-template #secondaryButton>
  <button
    mat-stroked-button
    class="button--secondary"
    [color]="color"
    (click)="handleClick()"
    [disabled]="disabled"
    [type]="type"
  ><ng-container *ngTemplateOutlet="content"></ng-container></button>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
