@use 'spacing';
@use 'flex';
@use 'grid';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.main-container {
  max-width: 1050px;
  margin: 0 auto;
}
