<div class="paginator__items">
  <ng-container *ngIf="(isLoading$ | async); else content">
    <mat-spinner diameter="50"></mat-spinner>
  </ng-container>
  <ng-template #content>
    <ng-container *ngIf="data$ | async as data">

      <ng-container *ngIf="data.length > 0; else empty">
        <ng-container *ngFor="let item of data$ | async" [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ item: item }"></ng-container>
      </ng-container>

      <ng-template #empty>
        <p>{{emptyText}}</p>
      </ng-template>
    </ng-container>
  </ng-template>
</div>

<ng-container *ngIf='pageState$ | async as pageState'>
    <mat-paginator
      [hidePageSize]=true
      [length]="pageState.itemCount"
      [pageSize]="10"
      [pageIndex]="pageState.page - 1"
      (page)="handlePageChange($event)"
    >
    </mat-paginator>
  </ng-container>
