<section>
  <c-hero variant="large" image='mainHero'>
    <h2
      class="blurred-background hero__title font-heading-2 color-white text-center margin-bottom-2">
      Find, share and most importantly, drink.
    </h2>
    <c-button
      *ngIf="isAuthorized$ | async"
      routerLink="create-cocktail"
      translation="createNewCocktail"
      color="primary">
      <mat-icon>add</mat-icon>
    </c-button>
  </c-hero>
  <section class="flex--center flex--column">
    <c-filters-form (formSubmit)='handleFilter($event)'></c-filters-form>
    <ng-container *ngIf='cocktails$ | async as cocktails'>
      <div *ngIf='cocktails.length > 0; else emptyCocktails' class='home__cocktails grid grid--center padding-4'>
        <c-cocktail-card *ngFor='let cocktail of cocktails' [cocktail]='cocktail'></c-cocktail-card>
      </div>
      <ng-template #emptyCocktails>
        <p class='width-full text-center'>We haven't found any cocktails.</p>
      </ng-template>
    </ng-container>
  </section>
</section>
