<section>
  <c-hero variant="large" image='mainHero'>
    <h2
      class="blurred-background hero__title font-heading-2 color-white text-center margin-bottom-2">
      Find, share and most importantly, drink.
    </h2>
    <c-button
      *ngIf="isAuthorized$ | async"
      routerLink="create-cocktail"
      translation="createNewCocktail"
      color="primary">
      <mat-icon>add</mat-icon>
    </c-button>
  </c-hero>
  <section class="flex--center flex--column">
    <c-filters-form (formSubmit)='handleFilter($event)'></c-filters-form>
    <div class='home__cocktails grid grid--center'>
      <c-cocktail-card *ngFor='let cocktail of cocktails$ | async' [cocktail]='cocktail'></c-cocktail-card>
    </div>
  </section>
</section>
