<form [formGroup]='form' class='width-full'>
  <mat-stepper linear #stepper class='margin-bottom-3'>
    <mat-step [stepControl]='step1.form'>
        <ng-template matStepLabel>Basic informations</ng-template>
        <c-create-cocktail-step1-form #step1 (formSubmit)='patchFormValue($event); stepper.next()'></c-create-cocktail-step1-form>
    </mat-step>

    <mat-step [stepControl]='step2.form'>
        <ng-template matStepLabel>Ingredients</ng-template>
        <c-create-cocktail-step2-form #step2 (formSubmit)='patchFormValue($event); stepper.next()' (stepperBack)='stepper.previous()'></c-create-cocktail-step2-form>
    </mat-step>

    <mat-step [stepControl]='step3.form' >
        <ng-template matStepLabel>Preparation</ng-template>
        <c-create-cocktail-step3-form
          #step3
          (formSubmit)='patchFormValue($event); handleSubmit()'
          (stepperBack)='stepper.previous()'
          [ingredients$]='ingredients$'
        ></c-create-cocktail-step3-form>
    </mat-step>
  </mat-stepper>
</form>
