@use '@angular/material' as mat;

$logo-font: 'Lobster', cursive;
$heading-font: 'Barlow Condensed', sans-serif;
$text-font: 'Montserrat', sans-serif;

$heading-1: mat.define-typography-level(
  $font-family: $heading-font,
  $font-weight: 400,
  $font-size: 2rem,
  $line-height: 55.5px,
  $letter-spacing: normal,
);

$heading-2: mat.define-typography-level(
  $font-family: $heading-font,
  $font-weight: 400,
  $font-size: 1.8rem,
  $line-height: 42px,
  $letter-spacing: normal,
);

$heading-3: mat.define-typography-level(
  $font-family: $heading-font,
  $font-weight: 400,
  $font-size: 1.3rem,
  $line-height: 24px,
  $letter-spacing: normal,
);

$text-1: mat.define-typography-level(
  $font-family: $text-font,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 18.75px,
  $letter-spacing: normal,
);

$text-2: mat.define-typography-level(
  $font-family: $text-font,
  $font-weight: 400,
  $font-size: 0.8rem,
  $line-height: 14.06px,
  $letter-spacing: normal,
);
