// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './palettes' as palette;
@use './typography' as typography;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cocktails-primary: mat.define-palette(palette.$green-palette, 500);
$cocktails-accent: mat.define-palette(palette.$blue-palette, 100);

// The warn palette is optional (defaults to red).
$cocktails-warn: mat.define-palette(palette.$red-palette, 300);

$typography-config: mat.define-typography-config(
  $headline-1: typography.$heading-1,
  $headline-2: typography.$heading-2,
  $headline-3: typography.$heading-3,
  $body-1: typography.$text-1,
  $body-2: typography.$text-2,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cocktails-theme: mat.define-light-theme(
  (
    color: (
      primary: $cocktails-primary,
      accent: $cocktails-accent,
      warn: $cocktails-warn,
    ),
    typography: $typography-config,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cocktails-theme);

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: typography.$text-font;
}

.blurred-background {
  backdrop-filter: blur(8px);
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px;
}

// colors

.mat-mdc-snack-bar-container {
  &.error {
    // snack bar error colors
    --mdc-snackbar-container-color: #d01e50;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.success {
    // snack bar success colors
    --mdc-snackbar-container-color: #3d9037;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

// fonts

.font-heading-1 {
  @include mat.typography-level($typography-config, 'headline-1');
  font-weight: bold;
}

.font-heading-2 {
  @include mat.typography-level($typography-config, 'headline-2');
  font-weight: bold;
}

.font-heading-3 {
  @include mat.typography-level($typography-config, 'headline-3');
  font-weight: bold;
}

.font-text-1 {
  @include mat.typography-level($typography-config, 'body-1');
}

.font-text-2 {
  @include mat.typography-level($typography-config, 'body-2');
}

.text-center {
  text-align: center;
}

// margins | paddings

.margin-top-1 {
  margin-top: 4px;
}

.margin-top-2 {
  margin-top: 8px;
}

.margin-top-3 {
  margin-top: 16px;
}

.margin-top-4 {
  margin-top: 32px;
}

.margin-bottom-1 {
  margin-bottom: 4px;
}

.margin-bottom-2 {
  margin-bottom: 8px;
}

.margin-bottom-3 {
  margin-bottom: 16px;
}

.margin-bottom-4 {
  margin-bottom: 32px;
}

.padding-1 {
  padding: 4px;
}

.padding-2 {
  padding: 8px;
}

.padding-3 {
  padding: 16px;
}

.padding-4 {
  padding: 32px;
}

.padding-16-8 {
  padding: 16px 8px;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 16px;
}

.gap-4 {
  gap: 32px;
}

// layout

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.main-container {
  max-width: 1050px;
  margin: 0 auto;
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }
}

// material styles overrides

div.mat-mdc-form-field-infix {
  width: 100%;
  max-width: 180px;
}
