@use '../../../styles/typography' as typography;

.navbar {
  position: fixed;
  top: 0;
  height: 5rem;
  z-index: 999;

  &__title {
    font-family: typography.$logo-font;
  }

  &__image {
    max-height: 100%;
  }
}
