<header class="flex flex--justify-center width-full">
  <div
    class="navbar main-container flex flex--align-center flex--justify-between width-full padding-16-8">
    <div class="flex flex--align-center height-full">
      <img class="navbar__image" src="assets/cocktail.png" alt="logo" />
      <h2 class="navbar__title font-heading-1">Cocktails</h2>
    </div>
    <div class="flex flex--align-center flex--justify-end gap-3">
      <c-button translation='login' design="secondary" (buttonClick)="openLoginDialog()"
        ><mat-icon>login</mat-icon></c-button
      >
      <c-button translation='register' (buttonClick)='openRegisterDialog()'/>
    </div>
  </div>
</header>
