<header
  class="navbar__wrapper flex flex--justify-center width-full"
  [ngClass]="{ 'navbar--white-background': hasBackground }">
  <div
    class="navbar main-container flex flex--align-center flex--justify-between width-full padding-4-2">
    <a class="navbar__logo flex flex--align-center height-full color-black" routerLink="">
      <img class="navbar__image" src="assets/cocktail.png" alt="logo" />
    </a>
    <ng-container *ngIf="isAuthorized$ | async; else authButtons">
      <div class="flex gap-2">
        <c-button routerLink="user-profile" design="secondary"
          ><mat-icon class="color-black">person</mat-icon></c-button
        >
        <c-button
          translation="logout"
          (buttonClick)="logout()"
          [isDisabledOnRequest]="true"></c-button>
      </div>
    </ng-container>
    <ng-template #authButtons>
      <div class="flex flex--align-center flex--justify-end gap-3">
        <c-button
          class="navbar__login-button"
          design="secondary"
          (buttonClick)="openLoginDialog()"
          ><p>{{ 'buttons.login' | translate }}</p>
          <mat-icon>login</mat-icon></c-button
        >
        <c-button translation="register" (buttonClick)="openRegisterDialog()" />
      </div>
    </ng-template>
  </div>
</header>
