<form [formGroup]='form' class='width-full'>
  <mat-stepper linear #stepper class='margin-bottom-3'>
    <mat-step [stepControl]="step1Group">
      <form [formGroup]='step1Group' class='flex flex--column flex--center gap-4 padding-4'>
        <ng-template matStepLabel>Basic informations</ng-template>
        <mat-card>
          <mat-card-content>
            <div class='flex flex--column'>
              <c-text-input
                formControlName='name'
                label='Cocktail name'
                placeholder='Enter cocktail name'
              />
              <c-textarea-input
                formControlName='description'
                label='Cocktail description'
                placeholder='Enter cocktail description'
                [minRows]='5'
              ></c-textarea-input>
            </div>
          </mat-card-content>
        </mat-card>
        <button mat-flat-button color='primary' matStepperNext (click)='handleNextStep()'>Next</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="step2Group">
      <form [formGroup]='step2Group' class='flex flex--column flex--center gap-4 padding-4'>
        <ng-template matStepLabel>Ingredients</ng-template>
        <div class='flex flex--center gap-2'>
          <c-ingredients-table *ngIf='ingredientsControl.value.length; else emptyIngredients' [dataSource]='ingredientsControl.value'/>
          <ng-template #emptyIngredients>
            <p class='font-text-2'>You haven't added any ingredient.</p>
          </ng-template>
        </div>
        <mat-card>
          <mat-card-content>
            <c-add-ingredient-form (formSubmit)='addIngredient($event)'></c-add-ingredient-form>
          </mat-card-content>
        </mat-card>

        <div class='flex flex--center gap-4 width-full'>
          <button mat-flat-button color='primary' matStepperPrevious>Back</button>
          <button mat-flat-button color='primary' matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="step3Group">
      <form [formGroup]='step3Group' class='flex flex--column flex--center gap-4 padding-4'>
        <ng-template matStepLabel>Preparation</ng-template>

        <div class='buttons'>
          <button mat-flat-button color='primary' matStepperPrevious>Back</button>
          <button mat-flat-button color='primary' matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</form>
