<form [formGroup]='form' class='width-full'>
  <mat-stepper linear #stepper class='margin-bottom-3'>

    <mat-step [stepControl]="step1Group">
        <ng-template matStepLabel>Basic informations</ng-template>
        <c-create-cocktail-step1-form (formSubmit)='step1Group.patchValue($event); stepper.next()'></c-create-cocktail-step1-form>
    </mat-step>

    <mat-step [stepControl]="step2Group">
      <form [formGroup]='step2Group' class='flex flex--column flex--center gap-4 padding-4-0'>
        <ng-template matStepLabel>Ingredients</ng-template>
        <div class='flex flex--center gap-2'>
          <ng-container *ngIf='ingredients$ | async as ingredients'>
            <c-ingredients-table *ngIf='ingredients.length; else emptyIngredients' [dataSource]='ingredients' (removeIngredient)='removeIngredient($event)'/>
          </ng-container>
          <ng-template #emptyIngredients>
            <div>
              <p class='font-text-2' [ngClass]="{'mat-mdc-form-field-error': wasSubmitClicked$ | async}">You haven"t added any ingredient.</p>
            </div>
          </ng-template>
        </div>
        <mat-card>
          <mat-card-content>
            <c-add-ingredient-form (formSubmit)='addIngredient($event)'></c-add-ingredient-form>
          </mat-card-content>
        </mat-card>
        <div class='flex flex--center gap-4 width-full'>
          <button mat-flat-button color='primary' matStepperPrevious type='button'>Back</button>
          <button mat-flat-button color='primary' matStepperNext type='button'>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="step3Group">
      <form [formGroup]='step3Group' class='flex flex--column flex--center gap-4 padding-4-0'>
        <ng-template matStepLabel>Preparation</ng-template>

        <div class='buttons'>
          <button mat-flat-button color='primary' matStepperPrevious>Back</button>
          <button mat-flat-button color='primary' matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</form>
