<form [formGroup]='form' class='width-full'>
  <mat-stepper linear #stepper class='margin-bottom-3'>

    <mat-step [stepControl]="step1Group">
        <ng-template matStepLabel>Basic informations</ng-template>
        <c-create-cocktail-step1-form (formSubmit)='step1Group.patchValue($event); stepper.next()'></c-create-cocktail-step1-form>
    </mat-step>

    <mat-step [stepControl]="step2Group">
        <ng-template matStepLabel>Ingredients</ng-template>
        <c-create-cocktail-step2-form (formSubmit)='step2Group.patchValue($event); stepper.next()' (stepperBack)='stepper.previous()'></c-create-cocktail-step2-form>
    </mat-step>

    <mat-step [stepControl]="step3Group">
      <form [formGroup]='step3Group' class='flex flex--column flex--center gap-4 padding-4-0'>
        <ng-template matStepLabel>Preparation</ng-template>

        <div class='buttons'>
          <button mat-flat-button color='primary' matStepperPrevious>Back</button>
          <button mat-flat-button color='primary' matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</form>
