<div class="paginator__items">
  @if (isLoading$ | async) {
    <mat-spinner diameter="50"></mat-spinner>
  } @else {
    @if (data$ | async; as data) {
      @if (data.length > 0) {
        @for (item of data$ | async; track item) {
          <ng-container
            [ngTemplateOutlet]="itemTemplate"
          [ngTemplateOutletContext]="{ item: item }"></ng-container>
        }
      } @else {
        <p>{{ emptyText }}</p>
      }
    }
  }
</div>

@if (pageState$ | async; as pageState) {
  <mat-paginator
    [hidePageSize]="true"
    [length]="pageState.itemCount"
    [pageSize]="10"
    [pageIndex]="pageState.page - 1"
    (page)="handlePageChange($event)">
  </mat-paginator>
}
