@if (cocktail$ | async; as cocktail) {
  <div>
    <c-hero variant="normal" image="mainHero">
      <h2 class="blurred-background font-heading-2 color-white">{{ cocktail.name }}</h2>
    </c-hero>
    <div class="main-container">
      <!--    <div class="width-full flex flex&#45;&#45;justify-end padding-top-3">-->
      <!--      <c-button-->
      <!--        *ngIf="isCocktailAuthor$ | async"-->
      <!--        design="secondary"-->
      <!--        translation="edit"-->
      <!--      >-->
      <!--        <mat-icon>settings</mat-icon>-->
    <!--      </c-button>-->
  <!--    </div>-->
  <div class="cocktail flex flex--column gap-4 padding-4">
    <section class="cocktail__top grid grid-row-4-8">
      <img
        class="cocktail__image width-full"
        [src]="cocktail.imageUrl"
        alt="Cocktail image." />
        <div class="flex flex--column gap-2">
          <h3 class="font-heading-3">Ingredients:</h3>
          <c-ingredients-table
            [dataSource]="ingredients$ | async"
          [isReadonly]="true"></c-ingredients-table>
        </div>
      </section>
      <section class="grid grid-row-4-8">
        <div>
          <h3 class="font-heading-3 margin-bottom-1">Details:</h3>
          <mat-card>
            <mat-card-content>
              <div class="flex flex--column gap-2">
                <p>
                  <span class="bold font-text-2">Category: </span
                    >{{ cocktail.category | valueFrom: categoryLables }}
                  </p>
                  <p>
                    <span class="bold font-text-2">Difficulty: </span
                      >{{ cocktail.difficulty | valueFrom: difficultyLabels }}
                    </p>
                    <p>
                      <span class="bold font-text-2">Description: </span
                        >{{ cocktail.description }}
                      </p>
                      <p>
                        <span class="bold font-text-2">Author: </span
                          >{{ cocktail.author | author }}
                        </p>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div>
                  <h3 class="font-heading-3 margin-bottom-1">Preparation:</h3>
                  <mat-card>
                    <mat-card-content>
                      @for (step of cocktail.preparation; track step) {
                        <c-preparation-step
                          [step]="step" />
                      }
                    </mat-card-content>
                  </mat-card>
                </div>
              </section>
            </div>
          </div>
        </div>
      }
