<form
  [formGroup]="form"
  #ngForm="ngForm"
  (ngSubmit)="handleSubmit()"
  stopEventPropagation
  class="flex flex--column flex--center">
  <c-ui-text-autocomplete-input
    formControlName="name"
    label="Name"
    placeholder="Enter ingredient name"
    [options]="ingredients"/>
  <c-ui-text-input
    formControlName="quantity"
    type="number"
    label="Quantity"
    placeholder="Enter quantity"/>
  <c-ui-select formControlName="unit" label="Unit" [options]="unitOptions"/>
  <c-ui-checkbox formControlName="isAlcoholic" label="Alcoholic"/>
  <c-button translation="addIngredient" design="secondary" type="submit" />
</form>
