@use '@angular/material' as mat;
@use 'apps/cocktails-frontend/src/styles/palettes' as palette;

.create-cocktail {
  &__heading {
    background-color: mat.get-color-from-palette(palette.$blue-palette, 100);
    height: 10rem;
    padding-top: 5rem;
  }
}
